.ab{
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 1970px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}

.navbar-brand {
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 80px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;

}

.mbar{
margin-top: 34px;
margin-left: 29px;
width: 18px;
height: 30px;
/* UI Properties */

opacity: 1;
}
.hlogo{
margin-top: 25px;
margin-left: 25px;
width: 142px;
height: 30px;
/* UI Properties */
opacity: 1;
}
.searicon{
margin-top: 32px;
margin-left: 77px;
width: 16px;
height: 16px;
opacity: 1;

}

.search{
margin-top: 28px;
margin-left: 15px;
width: 49px;
height: 21px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;

opacity: 1;
flex: 1;
}

.notification{

    margin-top: 28px;
    margin-left: 925px;
    width: 22px;
    height: 21px;
    /* UI Properties */
    
    opacity: 1;

}

.profile{
margin-top: 18px;
margin-left: 53px;
width: 44px;
height: 44px;
background: no-repeat padding-box;
opacity: 1;
}

.profilenm{
margin-top: 28px;
margin-left: 12px;
width: 68px;
height: 21px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.downarrow{
margin-top: 37px;
margin-right: 44px;
width: 15   px;
height: 15px;
/* UI Properties */
opacity: 1;

}

.sid{
position: absolute;
top: 80px;
left: 0px;
width: 242px;
height: 1890px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;


}

.l1{
    display: flex;
    margin-bottom: 10px;

}
.l1 img{
margin-top: 35px;
margin-left: 48px;
width: 20px;
height: 20px;

/* UI Properties */
opacity: 1;

}
.l1 p{
    margin-top: 33px;
    margin-left: 12px;
    width: 78px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.l2 {
    display:flex;
    background-color: #FFF3F4;
}

.l2 img{

    margin-top: 15px;
    margin-left: 48px;
width: 15px;
height: 15px;
/* UI Properties */
opacity: 1;


}

.l2 p{
position: relative;
margin-top: 14px;
    margin-left: 12px;
height: 21px;
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
flex: left;
}


.l3 {
    display: flex;

}

.l3 img{
margin-top: 15px;
margin-left: 47px;
width: 15px;
height: 15px;

opacity: 1;}

.l3 p{

margin-top: 14px;
margin-left: 12px;
width: 39px;
height: 21px;

text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;

}

.l4{
    display: flex;
}

.l4 img{

margin-top: 15px;
margin-left: 47px;
width: 16px;
height: 16px;
opacity: 1;
}

.l4 p{
 margin-top: 14px;
margin-left: 12px;
width: 51px;
height: 21px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.l5{
       display: flex;   
}

.l5 img{
    margin-top: 15px;
    margin-left: 48px;
    width: 20px;
    height: 20px;
   
    opacity: 1; 
}

.l5 p{
    margin-top: 14px;
    margin-left: 12px;
width: 100px;
height: 25px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.l6{
    display: flex;
}

.l6 img{
    margin-top: 15px;
    margin-left: 48px;
width: 17px;
height: 17px;
/* UI Properties */
opacity: 1;
}
.l6 p{
     
    margin-top: 14px;
    margin-left: 12px;
    width: 50px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    

}


.sl{
    
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 1890px;
    /* UI Properties */
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
   
}

.cont{
     
    position: absolute;
    margin-left: 242px;
    width: 1318px;
    height: 1890px;

    
}

.cont h5{
margin-top: 40px;
margin-left: 48px;
width: 113px;
height: 39px;
/* UI Properties */
text-align: left;
font: normal normal medium 30px/39px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
position: absolute;
}

.form{
margin-top: 102px;
margin-left: 50px;
margin-bottom: 39px;
width: 1218px;
height: 1749px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}

.form h5{
margin-top: 23px;
margin-left: 29px;
width: 121px;
height: 29px;
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

#name {
position: absolute;
margin-top: 68px;
margin-left: 30px;
width: 1157px;
height: 49px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}

#dropdown {

margin-top: 136px;
margin-left: 30px;
width: 1157px;
height: 49px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
background: url('../images/select-downward.svg') no-repeat;
padding-right:3px;
background-position: right;
}

#tarea {
    
margin-top: 20px;
margin-left: 30px;
width: 1157px;
height: 130px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;

}

.form p {
margin-top: 44px;
margin-left: 29px;
width: 123px;
height: 35px;
/* UI Properties */
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

#mn{
margin-top: 15px;
margin-left: 30px;
width: 563px;
height: 49px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}

#pq{
    margin-top: 20px;
    margin-left: 30px;
    width: 563px;
    height: 49px;
    /* UI Properties */
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    }

#drop{

    margin-top: 20px;
    margin-left: 30px;
    width: 563px;
    height: 49px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
background: url('../images/select-downward.svg') no-repeat;
padding-right:3px;
background-position: right;

}
/* 
.ss{
top: 600px;
left: 930px;
width: 54px;
height: 16px;
/* UI Properties 
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;

} */

.threecl h4{
  
    margin-top: 44px;
margin-left: 81px;
width: 138px;
height: 29px;
/* UI Properties */
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;

}

#abb{
    
    margin-top: 19px;
    margin-left: 31px;
/* UI Properties */
width: 266px;
height: 47px;
/* UI Properties */
border: 1px solid #FF3C3C;
border-radius: 5px;
opacity: 1;

}
#bc{
    margin-top: 19px;
    margin-left: 31px;
width: 266px;
height: 49px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}

#cd{
    margin-top: 19px;
    margin-left: 31px;
width: 266px;
height: 49px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}

#de{
    margin-top: 19px;
    margin-left: 31px;
    width: 266px;
height: 49px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
background: url('../images/select-downward.svg') no-repeat;
padding-right:3px;
background-position: right;
}

.p1 p{
margin-top: 9px;
margin-left: 47px;
width: 84px;
height: 16px;
/* UI Properties */
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #FF3B3B;
opacity: 1;
}

.p1{
    display: flex;

}
.p1 h3{

margin-top: 9px;
margin-left: 211px;
width: 158px;
height: 16px;
/* UI Properties */
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;

}

.otherelem p {
    margin-top: 43px;
margin-left: 29px;
width: 225px;
height: 29px;
/* UI Properties */
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.file p{
    margin-top: 21px;
margin-left: 29px;
width: 90px;
height: 24px;
/* UI Properties */
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.fil{
    display: flex;
}
.fil [type=button]{
    margin-top: 15px;
    margin-left: 30px;
width: 124px;
height: 36px;
/* UI Properties */
border: 1px solid #C8242F;
border-radius: 18px;
opacity: 1;
color: #C8242F;

background: url('../images/cloud-upload-icon.svg') no-repeat;
background-position: 20px;
}

.fil p {

position: relative;
    margin-top: 25px;
margin-left: 20px;
width: 91px;
height: 16px;
/* UI Properties */
text-align: left;
font: normal normal normal 12px/16px Roboto;
color: #ADADAD;
letter-spacing: 0px;
opacity: 1;
}

.aa p{
    margin-top: 36px;
margin-left: 29px;
width: 104px;
height: 24px;
/* UI Properties */
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.radio{
  display: flex;
}
.radio p{
    margin-top: 11px;
margin-left: 10px;
width: 56px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
}
.radio img{
    margin-top: 15px;
margin-left: 30px;
width: 15px;
height: 15px;
/* UI Properties */
opacity: 1;
border-radius: 50%;
border: 2px solid #ADADAD;
}
#img2{
    margin-top: 14px;
    margin-left: 38px;
width: 15px;
height: 15px;
/* UI Properties */
border-radius:50px;
border: 2px solid red;
opacity: 1;
}


.checkbox p{
    margin-top: 32px;
    margin-left: 29px;
width: 79px;
height: 24px;
/* UI Properties */
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}


.checkb{
    display: flex;
}
.checkb img{

    position: relative;
    margin-top: 15px;
    margin-left: 30px;
width: 16px;
height: 16px;
/* UI Properties */
border:1px solid #ADADAD ;
opacity: 1;
}
.checkb p{
    margin-top: 12px;
    margin-left: 9px;
width: 56px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

#img1{
    margin-top: 15px;
    margin-left: 37px;
width: 16px;
height: 16px;
/* UI Properties */
background: #C8242F 0% 0% no-repeat padding-box;
opacity: 1;
}
.Snackbar p{
    margin-top: 35px;
    margin-left: 29px;
width: 76px;
height: 24px;
/* UI Properties */
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;

}

.p-3 {
padding: auto;
/* UI Properties */
border: 1px solid #FF3535;
border-radius: 5px;
opacity: 1;
margin-bottom: 10px;
}
.p-3 img{
    
     margin-right:10px;
    height: 20px;
    width: 20px;


}

.call p{
    margin-top: 29px;
margin-left: 34px;
width: 106px;
height: 24px;
/* UI Properties */
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

#bt1{
    margin-top: 15px;
    margin-left: 30px;
width: 124px;
height: 45px;
/* UI Properties */
background: #C8242F 0% 0% no-repeat padding-box;
border-radius: 23px;
border-color:  #C8242F;
color: #FAFAFA;
opacity: 1;
}
#bt2{
    margin-top: 15px;
    margin-left: 20px;
width: 145px;
height: 44px;
/* UI Properties */
border: 1px solid  #C8242F;
color: #C8242F;
border-radius: 22px;
opacity: 1;
}

.tab p{
    margin-top: 34px;
margin-left: 29px;
width: 39px;
height: 24px;
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.nav-link{
   margin-top: 15px;
   margin-left: 45px;
width: 37px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal medium 15px/20px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}

.las p{
 margin-left:30px;
 margin-bottom: 35px;
width: 1119px;
height: 68px;
/* UI Properties */
text-align: left;
font-family: normal normal normal 15px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}